<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/MSteven01"> <i class="fab fa-github me-2">Michael Marin</i></a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/jimenezand12"> <i class="fab fa-github me-2">Andersson Jimenez</i></a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/LuisKrlosHdez"> <i class="fab fa-github me-2">Carlos Hernandez</i></a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/guille2806"> <i class="fab fa-github me-2">Guillermo Alonso</i></a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} Diseñado y desarrollado
      por grupo 4 MINTIC
    </div>
  </div>
</footer>
