<div class="content">
  <h1
    style="text-align: center; font-size: xxx-large; font-family: serif"
    class="animate__animated animate__fadeInRight"
  >
    Ventas
  </h1>

  <div
    class="registro p-2"
    style="background-color: #15171bd6; border-radius: 2%"
  >
    <div class="row g-2 mb-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="consecutivo"
            disabled
          />
          <label>Consecutivo</label>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="cedula"
            (keyup)="buscarcedula()"
          />
          <label for="floatingInputGrid">
            <i
              *ngIf="nombrecompleto != null"
              class="fas fa-check correctovalidacion"
              style="color: green"
            ></i>
            <i
              *ngIf="nombrecompleto == null"
              class="fas fa-times errorvalidacion"
              style="color: #dc3545"
            ></i>
            Cédula:
          </label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="nombrecompleto"
            disabled
          />
          <label for="floatingInputGrid">Nombre completo:</label>
        </div>
      </div>
    </div>

    <div class="row g-2 mb-4 mt-4">
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="codigoproductos1"
            (keyup)="buscarproductos1()"
          />
          <label for="floatingInputGrid"
            ><i
              *ngIf="nombreproductos != null"
              class="fas fa-check correctovalidacion me-2"
              style="color: green"
            ></i>
            <i
              *ngIf="nombreproductos == null"
              class="fas fa-times errorvalidacion me-2"
              style="color: #dc3545"
            ></i
            >Codigo productos:</label
          >
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="nombreproductos"
            disabled
          />
          <label for="floatingInputGrid">Nombre productos:</label>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="cantidad1"
            min="0"
            max="100"
            value="0"
            (keyup)="sumar1($event)"
            (keyup)="totalventas()"
            (keyup)="totalivas()"
            (keyup)="totalconivas()"
          />
          <label for="floatingInputGrid">Cantidad:</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="preciocompra"
            disabled
          />
          <label for="floatingInputGrid">Precio compra:</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2 mb-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="valortotal1"
            disabled
          />
          <label for="floatingInputGrid">Valor total:</label>
        </div>
      </div>
    </div>

    <div class="row g-2 mb-4 mt-4">
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="codigoproductos2"
            (keyup)="buscarproductos2()"
          />
          <label for="floatingInputGrid"
            ><i
              *ngIf="nombreproductos2 != null"
              class="fas fa-check correctovalidacion me-2"
              style="color: green"
            ></i>
            <i
              *ngIf="nombreproductos2 == null"
              class="fas fa-times errorvalidacion me-2"
              style="color: #dc3545"
            ></i
            >Codigo productos:</label
          >
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="nombreproductos2"
            disabled
          />
          <label for="floatingInputGrid">Nombre productos:</label>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="cantidad2"
            min="0"
            max="100"
            value="0"
            (keyup)="sumar2($event)"
            (keyup)="totalventas()"
            (keyup)="totalivas()"
            (keyup)="totalconivas()"
          />
          <label for="floatingInputGrid">Cantidad:</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="preciocompra2"
            disabled
          />
          <label for="floatingInputGrid">Precio compra:</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2 mb-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="valortotal2"
            disabled
          />
          <label for="floatingInputGrid">Valor total:</label>
        </div>
      </div>
    </div>

    <div class="row g-2 mb-4 mt-4">
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="codigoproductos3"
            (keyup)="buscarproductos3()"
          />
          <label for="floatingInputGrid"
            ><i
              *ngIf="nombreproductos3 != null"
              class="fas fa-check correctovalidacion me-2"
              style="color: green"
            ></i>
            <i
              *ngIf="nombreproductos3 == null"
              class="fas fa-times errorvalidacion me-2"
              style="color: #dc3545"
            ></i
            >Codigo productos:</label
          >
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="nombreproductos3"
            disabled
          />
          <label for="floatingInputGrid">Nombre productos:</label>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="cantidad3"
            min="0"
            max="100"
            value="0"
            (keyup)="sumar3($event)"
            (keyup)="totalventas()"
            (keyup)="totalivas()"
            (keyup)="totalconivas()"
          />
          <label for="floatingInputGrid">Cantidad:</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="preciocompra3"
            disabled
          />
          <label for="floatingInputGrid">Precio compra:</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="valortotal3"
            disabled
          />
          <label for="floatingInputGrid">Valor total:</label>
        </div>
      </div>
    </div>

    <div class="row g-2 mb-2">
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <div class="input-group mb-3">
            <select class="form-select" [(ngModel)]="ciudad">
              <option selected>Ciudad...</option>
              <option value="1">Bogotá</option>
              <option value="2">Medellín</option>
              <option value="3">Cali</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="totalventa"
            disabled
          />
          <label for="floatingInputGrid">Total venta:</label>
        </div>
      </div>
    </div>

    <div class="row g-2 mb-2">
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="totaliva"
            disabled
          />
          <label for="floatingInputGrid">Total iva:</label>
        </div>
      </div>
    </div>

    <div class="row g-2 mb-2">
      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <span></span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 col-xxl-2">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="totalconiva"
            disabled
          />
          <label for="floatingInputGrid">Total con iva:</label>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 mt-3">
      <button class="btn" (click)="enviarventas()" (click)="enviarconsolidado()">Enviar venta</button>
    </div>

  
  </div>
</div>
