<div class="content">
  <h1 style="text-align: center">Clientes</h1>

  <div
    *ngIf="codigorespuesta == 1"
    class="alert alert-danger animate__bounceIn animate__repeat-2 mb-2"
    role="alert"
  >
    <i class="fas fa-times-circle me-2"></i>Complete todos los campos
  </div>

  <div
    *ngIf="codigorespuesta == 2"
    class="alert alert-success animate__bounceIn animate__repeat-2 mb-2"
    role="alert"
  >
    <i class="fas fa-check-circle me-2"></i>Datos enviados con exito
  </div>

  <div
    *ngIf="codigorespuesta == 3"
    class="alert alert-danger animate__bounceIn animate__repeat-2 mb-2"
    role="alert"
  >
    >
    <i class="fas fa-times-circle me-2"></i>Ups algo salio mal.
  </div>

  <div class="registro">
    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="cedula"
          />
          <label for="floatingInputGrid"
            ><i class="fas fa-id-card me-2"></i>Cédula:</label
          >
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="."
            [(ngModel)]="telefono"
          />
          <label for="floatingInputGrid"
            ><i class="fas fa-phone me-2"></i>Teléfono:</label
          >
        </div>
      </div>
    </div>

    <div class="row g-2 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="nombrecompleto"
          />
          <label for="floatingInputGrid"
            ><i class="fas fa-user me-2"></i>Nombre completo:</label
          >
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            placeholder="."
            [(ngModel)]="email"
          />
          <label for="floatingInputGrid"
            ><i class="fas fa-at me-2"></i>Correo electrónico:</label
          >
        </div>
      </div>
    </div>

    <div class="row g-1 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="direccion"
          />
          <label for="floatingInputGrid"
            ><i class="fas fa-map-marker-alt me-2"></i>Dirección:</label
          >
        </div>
      </div>
    </div>

    <div class="row g-1 mb-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="."
            [(ngModel)]="id"
            disabled
          />
          <label for="floatingInputGrid"
            ><i class="fas fa-id-badge me-2"></i>Id:</label
          >
        </div>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button class="btn" (click)="postData()">Enviar datos</button>
    </div>

    <div class="d-grid gap-2">
      <button class="btn" (click)="buscarcliente()">Buscar cliente</button>
    </div>

    <div class="d-grid gap-2">
      <button class="btn" (click)="eliminarcliente()">Eliminar cliente</button>
    </div>

    <div class="d-grid gap-2">
      <button class="btn" (click)="actualizarcliente()">
        Actualizar cliente
      </button>
    </div>
  </div>

  <div class="d-grid gap-2">
    <button class="btn" (click)="tablaclietnes()">Mostrar todos los clientes</button>
  </div>
</div>
