/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(https://cdn.pixabay.com/photo/2020/10/01/17/11/store-5619201_960_720.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #757358 !important;
}

.dataTables_wrapper .dataTables_length select {
  border: 1 px solid #aaa;
  border-radius: 3 px;
  padding: 5 px;
  background-color: transparent;
  padding: 4 px;
  color: #c2c1b1;
}

.white-content .table > thead > tr > th,
.white-content .table button.btn-neutral.btn-link {
  color: aliceblue !important;
}
.white-content .table > tbody > tr > td {
  color: aliceblue !important;
}

.sidebar,
.sidebar[data="red"],
.off-canvas-sidebar,
.off-canvas-sidebar[data="red"] {
  background: #ec250d;
  background: linear-gradient(0deg, #84cdb3 0%, #1e1e2e 100%) !important;
}
.sidebar,
.off-canvas-sidebar {
  width: 200px !important;
}
.sidebar .nav p,
.off-canvas-sidebar .nav p {
  font-size: larger !important;
  font-family: sans-serif !important;
  line-height: 30px !important;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
  color: #ffffff !important;
  font-size: 17px !important;
  text-align: end;
}

.logo-img img {
  width: 100px !important;
}

img {
  max-width: 136% !important;
  border-radius: 0.2857 rem;
}
