<div class="content">
  <div class="row">
    <div class="card mt-5" style="background: transparent">
      <h1
        style="text-align: center"
        class="
          animate__animated
          animate__bounce
          animate__fadeInTopLeft
          animate__repeat-1
          row
          g-1
          d-grid
          gap-2
          d-md-block
        "
      >
        Bienvenidos
      </h1>
      <h2
        style="text-align: center"
        class="
          animate__animated animate__bounce animate__fadeInTopRight
          row
          d-grid
          gap-2
          d-md-block
        "
      >
        Almacenes la generica
      </h2>

      <div class="d-grid gap-2 row-2 col-6 mx-auto">
        <button type="button" class="btn animate__animated animate__bounce animate__fadeInBottomLeft" (click)="productos()">Ir a Productos</button>
        <button type="button" class="btn animate__animated animate__bounce animate__fadeInBottomRight" (click)="tablaclientes()">Ir a Clientes</button>
      </div>
    </div>
  </div>
</div>
