<div class="logo">
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
     <img src="https://cdn.pixabay.com/photo/2014/12/21/23/41/market-575842_960_720.png" alt="">
    </div>
  </a>
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-imagen">
    <h4>Almacenes <br>la generica</h4>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
